---
---

@import "minima";

/* Color of links and other bits an bolts of the website set as the same than on SyncroSim website */
:root {
    --apexOrange: #d68a06;
}

/* Links */
a {
    color: var(--apexOrange);
}

// Add logo to masthead
.site-title::before {
    content: url("images/logo/virus-solid-text.svg");
    display: inline-block;
    position: relative;
    padding-right: 10px;
    padding-top: 10px;
}
